<a href="https://colab.research.google.com/github/yahyalito/sqlwork/blob/master/Copy_of_sqlwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [3]:
#Challenge 1
%%sql 
CREATE TABLE if not exists PC(
    Code VARCHAR ,
    model VARCHAR ,
    speed VARCHAR ,
    RAM VARCHAR ,
    HD VARCHAR ,
    CD VARCHAR ,
    Price FLOAT
);

 * sqlite://
Done.

[]

In [4]:
#Challenge 2 
%%sql 
CREATE TABLE if not exists Printer(
    code VARCHAR,
    model VARCHAR,
    speed VARCHAR,
    type VARCHAR,
    Price FLOAT
);

 * sqlite://
Done.

[]

In [5]:
#challenge 3
%%sql 
CREATE TABLE if not exists Movies(
    id VARCHAR,
    title VARCHAR,
    director VARCHAR,
    year int,
    length_minutes int
);

 * sqlite://
Done.

[]

In [6]:
#1.4 Challenges 
#Challenge 1

# Challenge 1
# Let's create a table customer with CustID with datatype Integer, LastName 
# with datatype character(25), FirstName with datatype Character(20)
#

%%sql
CREATE TABLE if not exists customer(
    CustID int,
    LastName char(25),
    FirstName char(25)
);

 * sqlite://
Done.

[]

In [7]:
# Challenge 3
# Create a table called sales that stores sales ID, customer ID, name, and address information.
# using also the appropriate data types
# 

%%sql
CREATE TABLE if not exists sales(
    sales_ID char(20),
    customer_ID char(25),
    name char(30),
    address char(30)
);

 * sqlite://
Done.

[]

In [8]:
# Challenge 4
# Create a table called employees that stores employee number, employee name, 
# department, and salary information using appropriate data types
#

%%sql
CREATE TABLE if not exists employees(
    employee_number char(30),
    employee_name char(30),
    department char(30),
    salary int
);

 * sqlite://
Done.

[]