<a href="https://colab.research.google.com/github/yahyalito/sqlwork/blob/master/inserting_and_updating_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [0]:
import csv

In [0]:
import pandas as pd

In [0]:
with open('Glass.csv', 'r') as f:
  Glass = pd.read_csv(f, index_col=0 ,encoding='utf-8')

In [13]:
%sql DROP TABLE if exists Glass
%sql PERSIST Glass

 * sqlite://
Done.
 * sqlite://

'Persisted glass'

In [16]:
%%sql
select * from Glass limit 5;

 * sqlite://
Done.

[(1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (1.5176100000000001, 13.89, 3.6, 1.36, 72.73, 0.48, 7.83, 0.0, 0.0, 1),
 (1.5161799999999999, 13.53, 3.55, 1.54, 72.99, 0.39, 7.78, 0.0, 0.0, 1),
 (1.51766, 13.21, 3.69, 1.29, 72.61, 0.57, 8.22, 0.0, 0.0, 1),
 (1.51742, 13.27, 3.62, 1.24, 73.08, 0.55, 8.07, 0.0, 0.0, 1)]

In [0]:
with open('Interpol.csv' , 'r') as f:
  Interpol= pd.read_csv(f, index_col=0, encoding = 'utf-8')

In [20]:
%sql DROP TABLE if exists Interpol
%sql PERSIST Interpol

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [23]:
%%sql
select * from Interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [0]:
with open('Startups.csv' , 'r') as f:
  Startups = pd.read_csv(f, index_col=0 , encoding='utf-8')

In [24]:
%sql DROP TABLE if exists Startups
%sql PERSIST Startups

 * sqlite://
Done.
 * sqlite://

'Persisted startups'

In [26]:
%%sql
select * from Startups limit 5;

 * sqlite://
Done.

[('Curebit', 'Operating', 2010.0, 'San Francisco - California - USA', 'Talkable is a social referral platform for online stories and subscriptions.', 'E-Commerce, Analytics, Internet, Marketing, Social Media', 'Allan Grant, Dominic Coryell, Jeff Yee, Nori Yoshida', 2011, 'Winter', '500 Startups, Dharmesh Shah, Alex Lloyd, Auren Hoffman, Gordon Tucker, Stage One Capital, reinmkr inc., Karl Jacob, Y Combinator', '$1200000, undisclosed amount', '290 Division St, #405, San Francisco, California, USA', 'San Francisco', 'California', 'USA', 'http://a5.images.crunchbase.com/image/upload/c_pad,h_98,w_98/v1407434890/sf19b2lsipbo6fazmjzq.png', 'http://www.seed-db.com/companies/view?companyid=102020', 'http://www.crunchbase.com/organization/curebit', 'https://www.talkable.com'),
 ('Goldbely', 'Operating', None, 'San Francisco - California - USA', "Goldbely is an e-commerce site for buying and discovering America's best handmade gourmet food & gifts.", 'Social, E-Commerce', 'Joe Ariel, Joel Gillman, Trevor Stow, Vanessa Torrivilla', 2013, 'Winter', '500 Startups, Funders Club, Dave McClure, Tim Draper, Intel Capital, ACE & Company, Y Combinator', '$3,000,000', '1 Bluxome Street, San Francisco, California, USA', 'San Francisco', 'California', 'USA', 'http://a3.images.crunchbase.com/image/upload/c_pad,h_98,w_98/v1397180367/99717257bb2a360419f75b586503af93.png', 'http://www.seed-db.com/companies/view?companyid=729001', 'http://www.crunchbase.com/organization/goldbely', 'http://www.goldbely.com'),
 ('theDailyMuse', 'Operating', 2011.0, 'New York City - New York - USA', 'The Daily Muse is a job search platform offering multimedia profiles of various companies that are hiring people.', None, 'Alex Cavoulacos, Kathryn Minshew, Melissa McCreery', 2012, 'Winter', '500 Startups, Great Oaks Venture Capital, Great Oaks Venture Capital, Thomas D. Lehrman, Adam Quinton, Y Combinator', '$2800000, $2100000, $1200000, $1200000', '33 WEST 26TH STREET, #2, New York, New York, USA', 'New York City', 'New York', 'USA', 'http://a5.images.crunchbase.com/image/upload/c_pad,h_98,w_98/v1398232938/ffck9mcohrtktbkj3oie.jpg', 'http://www.seed-db.com/companies/view?companyid=96040', 'http://www.crunchbase.com/organization/the-daily-muse', 'http://www.thedailymuse.com'),
 ('Zencoder', 'Exited', None, 'San Francisco - California - USA', 'Zencoder is web-based video encoding SaaS designed to convert any video into web and mobile-compatible formats in real-time.', 'SaaS, Cloud Computing, Audio, Web Development, Data, Security, Video, Software', 'Brandon Arbini, Jon Dahl, Steve Heffernan', 2010, 'Winter', '500 Startups, Matt Cutts, Ignition Partners, James Lindenbaum, Orion Henry, Neil McClements, Wolfgang Buehler, Justin Yoshimura, Mike Bollinger, Adam Wiggins, SV Angel, Founder Collective, Robert Weber, Lowercase Capital, Andreessen Horowitz, Y Combinator', '$2000000, undisclosed amount', 'San Francisco, CA, 94103, USA', 'San Francisco', 'California', 'USA', 'http://a1.images.crunchbase.com/image/upload/c_pad,h_98,w_98/v1397206653/62e91e3f1c95f92912be5bd26638ea60.png', 'http://www.seed-db.com/companies/view?companyid=98019', 'http://www.crunchbase.com/organization/zencoder', 'http://zencoder.com'),
 ('GinzaMetrics', 'Operating', None, 'San Francisco - California - USA', 'GinzaMetrics offers an SEO and content marketing platform that provides recommendations and competitor analytics to agencies and marketers.', 'Enterprises, E-Commerce, Analytics, SEO, Enterprise Software', 'Ray Grieselhuber', 2010, 'Summer', '500 Startups, 500 Startups, Venture51, Jeff Miller, SunBridge Global Ventures, Y Combinator', 'undisclosed amount, $1300000, $400000, $14000', '25 Taylor Street, San Francisco, CA, 94103, USA', 'San Francisco', 'California', 'USA', 'http://a2.images.crunchbase.com/image/upload/c_pad,h_98,w_98/v1397186693/0738a0a8a1cce45f209ec0b0cbc75627.png', 'http://www.seed-db.com/companies/view?companyid=103018', 'http://www.crunchbase.com/organization/ginzametrics', 'http://ginzametrics.com')]

In [0]:
with open('Transactions.csv', 'r') as f:
  Transactions = pd.read_csv(f, index_col = 0 , encoding = 'utf-8')

In [27]:
%sql DROP TABLE if exists Transactions
%sql PERSIST Transactions

 * sqlite://
Done.
 * sqlite://

'Persisted transactions'

In [31]:
%%sql
select * from Transactions limit 5;

 * sqlite://
Done.

[(1442, '15A', 'Mpesa', 'UZUEHCBUSO', '17-10-17', '7:15', 'Migori', 'Nairobi', 'Bus', 49),
 (5437, '14A', 'Mpesa', 'TIHLBUSGTE', '19-11-17', '7:12', 'Migori', 'Nairobi', 'Bus', 49),
 (5710, '8B', 'Mpesa', 'EQX8Q5G19O', '26-11-17', '7:05', 'Keroka', 'Nairobi', 'Bus', 49),
 (5777, '19A', 'Mpesa', 'SGP18CL0ME', '27-11-17', '7:10', 'Homa Bay', 'Nairobi', 'Bus', 49),
 (5778, '11A', 'Mpesa', 'BM97HFRGL9', '27-11-17', '7:12', 'Migori', 'Nairobi', 'Bus', 49)]

In [0]:
with open('WorldCup.csv' , 'r') as f:
  WorldCup = pd.read_csv(f, index_col=0 , encoding='utf-8')

In [32]:
%sql DROP TABLE if exists WorldCup
%sql PERSIST WorldCup

 * sqlite://
Done.
 * sqlite://

'Persisted worldcup'

In [34]:
%%sql
select * from WorldCup limit 5;

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 1', 'Pocitos', 'Montevideo ', 'France', 4, 1, 'Mexico', ' ', 4444.0, 3, 0, 'LOMBARDI Domingo (URU)', 'CRISTOPHE Henry (BEL)', 'REGO Gilberto (BRA)', 201, 1096, 'FRA', 'MEX'),
 (1930, '13 Jul 1930 - 15:00 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Belgium', ' ', 18346.0, 2, 0, 'MACIAS Jose (ARG)', 'MATEUCCI Francisco (URU)', 'WARNKEN Alberto (CHI)', 201, 1090, 'USA', 'BEL'),
 (1930, '14 Jul 1930 - 12:45 ', 'Group 2', 'Parque Central', 'Montevideo ', 'Yugoslavia', 2, 1, 'Brazil', ' ', 24059.0, 2, 0, 'TEJADA Anibal (URU)', 'VALLARINO Ricardo (URU)', 'BALWAY Thomas (FRA)', 201, 1093, 'YUG', 'BRA'),
 (1930, '14 Jul 1930 - 14:50 ', 'Group 3', 'Pocitos', 'Montevideo ', 'Romania', 3, 1, 'Peru', ' ', 2549.0, 1, 0, 'WARNKEN Alberto (CHI)', 'LANGENUS Jean (BEL)', 'MATEUCCI Francisco (URU)', 201, 1098, 'ROU', 'PER'),
 (1930, '15 Jul 1930 - 16:00 ', 'Group 1', 'Parque Central', 'Montevideo ', 'Argentina', 1, 0, 'France', ' ', 23409.0, 0, 0, 'REGO Gilberto (BRA)', 'SAUCEDO Ulises (BOL)', 'RADULESCU Constantin (ROU)', 201, 1085, 'ARG', 'FRA')]

In [37]:
# Example 1: Previewing our table 
# We will first preview the last 5 records in Interpol our table
# NB: We learn this in our last SQL Session i.e. Sorting
#

%%sql
select * from Interpol ORDER BY Country DESC limit 5;

 * sqlite://
Done.

[('Zimbabwe', 0, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zw.gif'),
 ('Zambia', 1, 0, 2, 'Southern Africa', 'http://www.crwflags.com/fotw/images/z/zm.gif'),
 ('Venezuela', 0, 1, 0, 'South America', 'http://www.crwflags.com/fotw/images/v/ve.gif'),
 ('Uruguay', 1, 1, 1, 'South America', 'http://www.crwflags.com/fotw/images/u/uy.gif'),
 ('United States', 8, 11, 6, 'North America', 'http://www.crwflags.com/fotw/images/u/us.gif')]