<a href="https://colab.research.google.com/github/yahyalito/sqlwork/blob/master/selecting_and_retreiving_data_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [0]:
import csv
import pandas as pd

In [0]:
with open('Countries.csv' , 'r') as f:
  interpol= pd.read_csv(f, index_col=0 , encoding='utf-8')

In [68]:
%%sql
DROP TABLE if exists interpol;

 * sqlite://
Done.

[]

In [69]:
%sql PERSIST interpol;

 * sqlite://

'Persisted interpol'

In [0]:
with open('WorldCup.csv' , 'r') as f:
  worldCup = pd.read_csv(f,index_col=0 ,encoding='utf-8')

In [71]:
%sql DROP TABLE if exists worldCup

 * sqlite://
Done.

[]

In [72]:
%sql PERSIST worldCup;

 * sqlite://

'Persisted worldcup'

In [73]:
%sql select * from interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [37]:
%sql select * from worldcup limit 5;

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 1', 'Pocitos', 'Montevideo ', 'France', 4, 1, 'Mexico', ' ', 4444.0, 3, 0, 'LOMBARDI Domingo (URU)', 'CRISTOPHE Henry (BEL)', 'REGO Gilberto (BRA)', 201, 1096, 'FRA', 'MEX'),
 (1930, '13 Jul 1930 - 15:00 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Belgium', ' ', 18346.0, 2, 0, 'MACIAS Jose (ARG)', 'MATEUCCI Francisco (URU)', 'WARNKEN Alberto (CHI)', 201, 1090, 'USA', 'BEL'),
 (1930, '14 Jul 1930 - 12:45 ', 'Group 2', 'Parque Central', 'Montevideo ', 'Yugoslavia', 2, 1, 'Brazil', ' ', 24059.0, 2, 0, 'TEJADA Anibal (URU)', 'VALLARINO Ricardo (URU)', 'BALWAY Thomas (FRA)', 201, 1093, 'YUG', 'BRA'),
 (1930, '14 Jul 1930 - 14:50 ', 'Group 3', 'Pocitos', 'Montevideo ', 'Romania', 3, 1, 'Peru', ' ', 2549.0, 1, 0, 'WARNKEN Alberto (CHI)', 'LANGENUS Jean (BEL)', 'MATEUCCI Francisco (URU)', 201, 1098, 'ROU', 'PER'),
 (1930, '15 Jul 1930 - 16:00 ', 'Group 1', 'Parque Central', 'Montevideo ', 'Argentina', 1, 0, 'France', ' ', 23409.0, 0, 0, 'REGO Gilberto (BRA)', 'SAUCEDO Ulises (BOL)', 'RADULESCU Constantin (ROU)', 201, 1085, 'ARG', 'FRA')]

In [40]:
%%sql
select Country from interpol limit 5;

 * sqlite://
Done.

[('Albania',), ('Angola',), ('Argentina',), ('Australia',), ('Austria',)]

In [57]:
%%sql
select * from interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [78]:
%%sql
SELECT * from interpol WHERE NationalFugitives = 1 AND Region = 'Europe';

 * sqlite://
Done.

[('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Belarus', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/by.gif'),
 ('Croatia', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/h/hr.gif'),
 ('Estonia', 1, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/e/ee.gif'),
 ('Germany', 1, 0, 3, 'Europe', 'http://www.crwflags.com/fotw/images/d/de.gif'),
 ('Greece', 1, 1, 3, 'Europe', 'http://www.crwflags.com/fotw/images/g/gr.gif'),
 ('Italy', 1, 1, 3, 'Europe', 'http://www.crwflags.com/fotw/images/i/it.gif'),
 ('Lithuania', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/l/lt.gif'),
 ('Spain', 1, 2, 13, 'Europe', 'http://www.crwflags.com/fotw/images/e/es.gif'),
 ('Ukraine', 1, 1, 1, 'Europe', 'http://www.crwflags.com/fotw/images/u/ua.gif')]

In [81]:
%%sql
select Region from interpol WHERE NationalFugitives=0;

 * sqlite://
Done.

[('Northern Africa',),
 ('Europe',),
 ('South America',),
 ('Southern Africa',),
 ('Asia',),
 ('Central America',),
 ('Sub Saharan Africa',),
 ('Central America',),
 ('Central America',),
 ('Europe',),
 ('South America',),
 ('Europe',),
 ('Asia',),
 ('Southern Africa',),
 ('Europe',),
 ('Sub Saharan Africa',),
 ('Europe',),
 ('Southern Africa',),
 ('Southern Africa',),
 ('Oceania',),
 ('Europe',),
 ('Central America',),
 ('Asia',),
 ('Europe',),
 ('Sub Saharan Africa',),
 ('Europe',),
 ('South America',),
 ('Southern Africa',)]